<%- include('partials/head') %>
    <header>Bewerk je profiel</header>
    <p><%=profile._id%></p>
    <main>
      <form
        action="/profile/<%=profile._id%>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="name"> Naam </label>
          <input type="text" id="name" name="name" value="<%=profile.name%>" />
        </div>
        <div>
          <label for="man">Man</label>
          <input type="radio" id="man" name="sex" value="man"
          <%if(profile.sex==='man'){%> checked <%}%> />
          <label for="vrouw">Vrouw</label>
          <input type="radio" id="vrouw" name="sex" value="vrouw"
          <%if(profile.sex==='vrouw'){%> checked <%}%>/>
          <label for="anders">Anders</label>
          <input type="radio" id="anders" name="sex" value="anders"
          <%if(profile.sex==='anders'){%> checked <%}%>/>
        </div>
        <label for="sports">Welke sporten vind je leuk?</label>
        <fieldset>
          <legend>Vink aan wat je leuk vindt</legend>

          <ul class="sportsList">
            <li class="sport">
              <input type="checkbox" name="sports" id="checkbox1"
              value="voetbal" <% if(profile.sports.includes('voetbal')){%>
              checked<%}%> />
              <label for="checkbox1">Voetbal</label>
            </li>
            <li class="sport">
              <input type="checkbox" name="sports" id="checkbox2" value="hockey"
              <% if(profile.sports.includes('hockey')){%> checked<%}%> />
              <label for="checkbox2">Hockey</label>
            </li>
            <li class="sport">
              <input type="checkbox" name="sports" id="checkbox3"
              value="basketbal" <% if(profile.sports.includes('basketbal')){%>
              checked<%}%> />
              <label for="checkbox3"> Basketbal</label>
            </li>
            <li class="sport">
              <input type="checkbox" name="sports" id="checkbox4" value="tennis"
              <% if(profile.sports.includes('tennis')){%> checked<%}%> /><label
                for="checkbox4"
                >Tennis</label
              >
            </li>
          </ul>
          <div class="addSport">
            <label for="addSport">Voeg jouw sport toe</label>
            <input type="text" id="addSport" name="addSport" />
          </div>
        </fieldset>
        <div class="bio">
          <label for="bio">Vertel iets over jezelf</label>
          <textarea name="bio" id="bio"><%=profile.bio%></textarea>
        </div>
        <div class="upload">
          <%if(profile.upload){%>
          <img
            src="/uploads/<%=profile.upload%>"
            alt="je profielfoto"
            width="200px"
            height="200px"
          />
          <%}%>
          <label for="upload">Upload je foto</label>
          <input
            type="file"
            name="upload"
            id="upload"
            placeholder="Kies bestand"
            accept="image/png, image/jpeg, image/gif"
          />
        </div>
        <button>Opslaan</button>
      </form>
    </main>
  </body>

