<%- include('partials/head') %>
<body>
  <section>
    <h1>Bewerk je profiel</h1>
    <p><%=profile._id%></p>
  </section>
    <main>
      <form class="editprofile"
        action="/profile/<%=profile._id%>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="name"> Naam </label>
          <input type="text" id="name" name="name" value="<%=profile.name%>" />
        </div>
        <div>
          <label for="man">Man</label>
          <input type="radio" id="man" name="sex" value="man"
          <%if(profile.sex==='man'){%> checked <%}%> />
          <label for="vrouw">Vrouw</label>
          <input type="radio" id="vrouw" name="sex" value="vrouw"
          <%if(profile.sex==='vrouw'){%> checked <%}%>/>
          <label for="anders">Anders</label>
          <input type="radio" id="anders" name="sex" value="anders"
          <%if(profile.sex==='anders'){%> checked <%}%>/>
        </div>
        <label for="sports">Welke sporten vind je leuk?</label>
          <select name="sport" id="selectSport">
            <option value="Voetbal">Voetbal</option>
            <option value="Basketbal">Basketbal</option>
            <option value="Hockey">Hockey</option>
            <option value="Tennis">Tennis</option>
            <option value="Formule1">Formule1</option>
          </select>
        <div class="bio">
          <label for="bio">Vertel iets over jezelf</label>
          <textarea name="bio" id="bio"><%=profile.bio%></textarea>
        </div>
        <div class="upload">
          <%if(profile.upload){%>
          <img
            src="/uploads/<%=profile.upload%>"
            alt="je profielfoto"
            width="200px"
            height="200px"
          />
          <%}%>
          <label for="upload">Upload je foto</label>
          <input
            type="file"
            name="upload"
            id="upload"
            placeholder="Kies bestand"
            accept="image/png, image/jpeg, image/gif"
          />
        </div>
        <button>Opslaan</button>
      </form>


<!-- form voor verwijderen profiel
      <form  action="/login"
      method="DELETE">
        <label for="name">delete profile</label><br>
        <input type="text" id="deleteProfile" name="name"><br>
        <option value="deleteProfile">Profiel verwijderen</option>
      </form>

    </main>
  </body>
-->
