<%- include('partials/head') %>
<%- include('partials/nav') %>
  <body>
    <main class="filterSports"></main>
    <section>
      <h1>Vind een match</h1>
      <h3>geef je voorkeur op en vind een match</h3>
      <form action="/applyFilter" method="POST">
        <label for="sports">Welke sporten vind je leuk?</label>
        <fieldset>
          <legend>Vink aan wat je leuk vindt</legend>
          <ul class="sportsList">
            <li class="sport">
              <input type="radio" id="radio1" name="sports" value="Voetbal">
              <label for="radio1">Voetbal</label>
            </li>
            <li class="sport">
              <input type="radio" id="radio2" name="sports" value="Hockey">
              <label for="radio2">Hockey</label>
            </li>
            <li class="sport">
              <input type="radio" id="radio3" name="sports" value="Basketbal">
              <label for="radio3">Basketbal</label>
            </li>
            <li class="sport">
              <input type="radio" id="radio4" name="sports" value="Tennis">
              <label for="radio4">Tennis</label>
            </li>
          </ul>
        </fieldset>
        <button type="submit" value="Aplly filter">filter</button>
      </form>
    </section>
      <h2>Matches:</h2>
      <ul>
      <% for (let i = 0; i < matches.length; i++) { %>
        <li class="match">
          <img src="<%= matches[i].upload %>" alt="">
          <h3><%= matches[i].profile.name %></h3>
          <h4><%= matches[i].sex %></h4>
          <h5><%= matches[i].profile.sports %></h5>
          <p><%= matches[i].profile.bio %></p>
        </li>
        <form action="/like" method="POST">
          <input name="email" type="hidden" value="<%= matches[i].email %>">
          <input type="radio" id="like" name="action" value="like">
          <label for="like">Like</label>
          <input type="radio" id="dislike" name="action" value="dislike">
          <label for="dislike">Dislike</label>
          <input type="submit" value="opslaan"></input>
        </form>
      <%  } %>
    </ul>
    </main>
  </body>


