<%- include('partials/head') %>
<%- include('partials/nav') %>
  <body>
    <main>
    <section class="profile">
      <h1>profiel</h1>
      <ul>
      <p><%= profile._id%></p>
      <p><%=profile.name%></p>
      <p>houdt van <%=profile.sport%></p>
      <p><%=profile.sex%></p>
      <p><%=profile.bio%></p>
      <img src="/uploads/<%=profile.upload%>" alt="profilepic" />
    </ul>
    </section>
    <section>
      <h3>Mensen die je geliked hebt</h3>
      <ul>
        <% for (let i = 0; i < liked.length; i++) { %>
          <li>
            <%= liked[i] %>
          </li>
        <%  } %>
      </ul>
    </section>
    <%- include('partials/footer') %>
    </main>
  </body>

