<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your profile</title>
  </head>
  <body>
    <header>
      <h1>Dit is jouw profiel</h1>
      <a href="/create">Ga terug</a>
      <a href="/chat">Chat</a>
      <a href="/edit/<%= profile._id%>">Bewerken</a>
      <p><%= profile._id%></p>
    </header>
    <main>
      <p><%=profile.name%></p>
      <p><%=profile.sport%></p>
      <p><%=profile.sex%></p>
      <p><%=profile.bio%></p>
      <img src="/uploads/<%=profile.upload%>" alt="" />
    </main>
  </body>
</html>
