<%- include('partials/head') %>
  <body>
    <header>
      <h1>Dit is jouw profiel</h1>
      <a href="/create">Ga terug</a>
      <a href="/edit/<%= profile._id%>">Bewerken</a>
      <p><%= profile._id%></p>
    </header>
    <main>
      <p><%=profile.name%></p>
      <ul>
        <% profile.sports.forEach((sport)=>{ %>
        <li><%= sport %></li>
        <%})%>
      </ul>
      <p><%=profile.sex%></p>
      <p><%=profile.bio%></p>
      <img src="/uploads/<%=profile.upload%>" alt="" />
    </main>
  </body>

