<%- include('partials/head') %>
<%- include('partials/nav') %>
  <body>
    <header>
      <h1>Dit is jouw profiel</h1>
      <a href="/login">uitloggen</a>
      <a href="/chat">Chat</a>
      <a href="/filter">Vind matches</a>
      <a href="/edit/<%= profile._id%>">Bewerken</a>
      <a href="/mail">Contact</a>
      <p><%= profile._id%></p>
    </header>
    <main>
      <p><%=profile.name%></p>
      <p><%=profile.sport%></p>
      <p><%=profile.sex%></p>
      <p><%=profile.bio%></p>
      <img src="/uploads/<%=profile.upload%>" alt="" />
      <h3>Mensen die je geliked hebt</h3>
      <ul>
        <% for (let i = 0; i < liked.length; i++) { %>
          <li>
            <%= liked[i] %>
          </li>
        <%  } %>
      </ul>
    </main>
  </body>

